/* 
background color in APP.css
*/

/* ----- MAIN LOGIN STYLE */
#login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- GIF STYLE */
#gifDesk {
    width: 400px;
    margin: 0;
}

/* ----- LOGO */
#logo {
    width: 100%;
}

/* ----- FORM STYLE */
#loginForm {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 80px;
} 

#emailInputLogin,
#passwordInputLogin {
    width: 60%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 15px;
}

#emailInputLogin:focus,
#passwordInputLogin:focus {
    border: 1px solid #4F4F4F;
    outline: none;
}

#emailInputLogin[placeholder],
#passwordInputLogin[placeholder] {
    text-transform: uppercase; 
    padding: 5px;
    font-size: .7em;
}

/* ----- BUTTONS */
#loginBTN {
    background-color: rgba(249, 249, 103, 0.989);
    text-transform: uppercase;
    padding: 5px;
    margin-top: 15px;
    /* ??? */
    border: none; 
    border-radius: 6px;
    width: 45%;
    color:#4F4F4F;
    font-size: .7em;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.25);
}

#loginBTN:hover {
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.50);
}

#regBTN {
    margin-top: 40px;
    text-transform: uppercase;
    font-size: .8em;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #4F4F4F;
}

a:hover {
    color: red;
}

/* ----- lINE */
.line { width: 80%;
    height: 80px;
    position: relative;
    padding: 0 10px;
}

.line:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    border: .25px solid #ccc;
}




/* ----- MEDIA QUERIE PHONE */
@media screen and (max-width: 600px) {
    /* GIF NOT VISIBLE ON PHONE */
   #gifDesk {
       display: none;
   }

   /* FORM */
   #loginForm {
       width: 100%;
   }

   #emailInputLogin,
   #passwordInputLogin {
       width: 80%;
       padding: 10px;
   }
}